<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>
        Welcome
        <br>
        to <span class="text-primary">Good</span>Choice
      </h2>
      <p class="text-secondary mb-3">
        Application for qwert tyuio iop asdfghj hjkl dfghjcvbnm fghjktyui hjkl
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="list-group">
        <div class="list-group-item">
          Sign In
        </div>
        <div class="list-group-item">
          <app-sign-in-form (signIn)="onSignIn()"></app-sign-in-form>
        </div>
        <div class="list-group-item">
          First time here? Registration
        </div>
      </div>
    </div>
  </div>
</div>
