<div class="list-group">
  <div class="list-group-item">
    {{review.author.firstName}} {{review.author.lastName}}
  </div>
  <div class="list-group-item">
    <span *ngFor="let i of [].constructor(review.mark)" class="material-icons fs-6">star</span>
    <h5>{{review.title}}</h5>
    <div class="row row-cols-2 gx-2">
      <ul *ngIf="review.advantages.length" class="list-unstyled text-success">
        <li *ngFor="let point of review.advantages">{{point}}</li>
      </ul>
      <ul *ngIf="review.disadvantages.length" class="list-unstyled text-danger">
        <li *ngFor="let point of review.disadvantages">{{point}}</li>
      </ul>
    </div>
  </div>
  <div *ngFor="let body of review.bodies" class="list-group-item">
    <p class="mb-0 card-text">{{body.content}}</p>
    <p class="mb-0 text-muted">{{body.createdTimestamp | date}}</p>
  </div>
  <div class="list-group-item py-3">
    <button (click)="onUpvoteClick()" class="btn btn-outline-success me-2 py-1">
      <span class="material-icons fs-6">keyboard_arrow_up</span>
      {{review.votes.upvotesCount}}
    </button>
    <button (click)="onDownvoteClick()" class="btn btn-outline-danger py-1">
      <span class="material-icons fs-6">keyboard_arrow_down</span>
      {{review.votes.downvotesCount}}
    </button>
  </div>
</div>
